<link href="./css/layout_banner.css" rel="stylesheet" type="text/css" media="screen" />
<link href="./css/layout_main.css" rel="stylesheet" type="text/css" media="screen" />
<link href="./css/layout_organiser.css" rel="stylesheet" type="text/css" media="screen" />
<link href="./css/layout_item.css" rel="stylesheet" type="text/css" media="screen" />
<link href="./js/calendar/jsDatePick_ltr.min.css" rel="stylesheet" type="text/css" media="all" />
<link href="./css/jquery-ui.css" rel="stylesheet" type="text/css" media="screen" />
<link href="./css/jquery-bubble-popup-v3.css" rel="stylesheet" type="text/css" media="screen" />
<script type="text/javascript" src="./js/jquery-bubble-popup-v3.min.js"></script>
<script type="text/javascript" src="./js/jquery.maskedinput.js"></script>
<script type="text/javascript" src="./js/calendar/jsDatePick.min.1.3.js"></script>
<script type="text/javascript" src="./js/jquery-ui.min.js" ></script>
<script type="text/javascript" src="./js/organiser.js"></script>
<script type="text/javascript" src="./js/organiserrows.js"></script>
<script type="text/javascript">
	if('${editmode}' != null)
	{
		editmode = '${editmode}';
	}
	jQuery(function($)
	{
		$(".date").mask("9999-99-99 99:99:99");
	});
</script>
<div id="organiser">
	<div id="submenu">
		<div id="calendar"></div>
		<div class="separator"></div>
		<div class="large-item" onclick="edit();">
            <img alt="Agenda opmaken" src="./icons/ic_edit_agenda.png">
			<p>Agenda opmaken</p>
		</div>
		<div class="separator"></div>
		<div class="large-item">
			<img alt="Selectie maken" src="./icons/ic_select.png">
			<p>Selectie maken</p>
		</div>
		<div class="separator"></div>
	</div>
	<div id="content">
		<div id="content-background"></div>
		<div id="tabs">
            <ul>
                <li ng-repeat='act in activities'>
                    <p ng-class="{active: $first}" id="actid_{{$index}}" onclick="toggleActivity(event)" ng-click="currentActivity = activities[$index]">{{act.name}}</p>
                    <!--<p ng-class="{active: $first}" id="actid_{{$index}}" ng-click="selectTab($index);" onclick="toggleActivity(event)">{{act.name}}</p>-->
                    <img class="optionsbutton edit" onclick="toggleOptionsPopup(event)" id="actimg_{{$index}}" alt="Opties" src="./icons/ic_arrow_bold_down.png">
                    <div class="optionspopup" id="options_act_{{$index}}">
                        <ul>
                            <li ng-click="openActivityEditor($index);">Aanpassen</li>
                            <li ng-click="removeActivity($index);">Verwijderen</li>
                        </ul>
                    </div>
                </li>
                <li>
                    <p onclick="createActivity(event);" class="inactive edit" id="act_add">ACTIVITEIT TOEVOEGEN</p>
                </li>
            </ul>
           <!-- <div id="timeline"></div>
            <div id="rows">
                <div class="row" ng-repeat='(lIndex, loc) in activities[actIndex].locations' id="loc_{{$index}}" ng-style="{top: lIndex * 50 + 'px'}">
                    <div class="rowtitle">
                        <h2>{{loc.name}}</h2>
                        <img class="optionsbutton edit" id="locimg_{{$index}}" onclick="toggleOptionsPopup(event)" alt="Opties" src="./icons/ic_arrow_bold_down.png">
                        <div class="optionspopup" id="options_loc_{{$index}}">
                            <ul>
                                <li ng-click="editLocation(loc._id);">Aanpassen</li>
                                <li ng-click="removeLocation(loc._id);">Verwijderen</li>
                                <li ng-click="locIndex = $index" onclick="addEvent(event);">Evenement toevoegen</li>
                            </ul>
                        </div>
                    </div>
                    <div class="rowcontent">
                        <fi-event location-index="{{lIndex}}" event-index="{{eIndex}}" ng-repeat="(eIndex, event) in loc.events"></fi-event>
                    </div>
                </div>
                <div class="row edit" id="loc_add" ng-style="{top: activities[actIndex].locations.length * 50 + 'px'}">
                    <div class="rowtitle">
                        <h2 onclick="addLocation(event);">LOCATIE TOEVOEGEN</h2>
                    </div>
                </div>
            </div>
            <div id="activitypopup" class="popup">
                <form name="activityForm">
                    <h1 ng-show="!editingActivity">Activiteit aanmaken</h1>
										<h1 ng-show="editingActivity">Activiteit aanpassen</h1>
                    <table>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td width="120px"><h2><label>Activiteitsnaam</label></h2></td>
                                        <td><input ng-model="activity.name" class="length6" /></td>
                                    </tr>
                                    <tr>
                                        <td><h2><label>Omschrijving</label></h2></td>
                                        <td><textarea ng-model="activity.description" rows="5" class="length6" /></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <div class="horizontal-line"></div>
                        <table>
                            <tr>
                                <td width="120px"><h2>Openingsuren:</h2></td>
                                <td>
                                    <select ng-model="activity.opening.startHour">
                                        <option ng-repeat="hour in [] | range:24" value="{{hour}}">{{hour}}</option>
                                    </select>
                                    <select ng-model="activity.opening.startMin">
                                        <option ng-repeat="min in [] | range:60" value="{{min}}">{{min}}</option>
                                    </select>-
                                    <select ng-model="activity.opening.endHour">
                                        <option ng-repeat="hour in [] | range:24" value="{{hour}}">{{hour}}</option>
                                    </select>
                                    <select ng-model="activity.opening.endMin">
                                        <option ng-repeat="min in [] | range:60" value="{{min}}">{{min}}</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td><p>+ openingsuren toevoegen</p></td>
                            </tr>
                        </table>
                    <div class="horizontal-line"></div>
                    <table>
                        <tr>
                            <td colspan="2">
                            <h2>
                            Locaties overnemen van andere activiteit
                            <input type="checkbox" ng-model="existingAct" value="existingAct" />
                            </h2>
                            </td>
                        </tr>
                        <tr>
                            <td width="120px">
                                <h2><label ng-model="existingAct">Activiteit:</label></h2>
                            </td>
                            <td>
                                <select id="existingId" ng-model="existingId">
                                    <option ng-repeat="act in activities" value="{{act._id}}">{{act.name}}</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <input ng-if="!editingActivity" type="button" id="btnCreateActivity" ng-click="addActivity();" onclick="hideForm(event);" value="Activiteit opslaan" />
														<input ng-if="editingActivity" type="button" id="btnCreateActivity" ng-click="editActivity();" onclick="hideForm(event);" value="Activiteit opslaan" />

												</tr>
                    </table>
                </form>
            </div>
			<div class="zoombuttons">
				<img onclick="zoomInOrganiser();" src="./icons/ic_zoom_in.png">
				<img onclick="zoomOutOrganiser();" src="./icons/ic_zoom_out.png">
			</div>!-->
		</div>
		<div id="timeline"></div>
		<div id="rows">
            <div class="row" ng-repeat='loc in locations' id="loc_{{$index}}" ng-style="{top: $index * 50 + 'px'}">
                <div class="rowtitle">
                    <h2>{{loc.name}}</h2>
                    <img class="optionsbutton edit" id="locimg_{{$index}}" onclick="toggleOptionsPopup(event)" alt="Opties" src="./icons/ic_arrow_bold_down.png">
                    <div class="optionspopup" id="options_loc_{{$index}}">
                        <ul>
                            <li ng-click="openLocationEditor($index);">Aanpassen</li>
                            <li ng-click="removeLocation($index);">Verwijderen</li>
                            <li onclick="addEvent(event);">Evenement toevoegen</li>
                        </ul>
                    </div>
                </div>
                <div class="rowcontent">
                    <!--<fi-event ng-repeat=""></fi-event>-->
                </div>
            </div>
            <div class="row edit" id="loc_add" ng-style="{top: locations.length * 50 + 'px'}">
                <div class="rowtitle">
                    <h2 onclick="addLocation(event);">LOCATIE TOEVOEGEN</h2>
                </div>
            </div>
		</div>
        <div id="locationpopup" class="popup">
            <form name="locationForm">
                <h1 ng-if="!editingLocation">Locatie aanmaken</h1>
								<h1 ng-if="editingLocation">Locatie aanpassen</h1>

                <table>
                    <tr>
                        <td width="130px"><h2><label>Naam:</label></h2></td>
                        <td><input ng-model="location.name"  class="length4" /></td>
                    </tr>
                    <tr>
                        <td><h2><label>Omschrijving:</label></h2></td>
                        <td><textarea ng-model="location.description"  class="length4" /></td>
                    </tr>
                </table>
                <div class="horizontal-line"></div>
                <table>
                    <tr>
                        <td width="130px"><h2><label>Openingsuren:</label></h2></td>
                        <td colspan="2">
                            <select ng-model="location.opening.startHour">
                                <option ng-repeat="hour in [] | range:24" value="{{hour}}">{{hour}}</option>
                            </select>
                            <select ng-model="location.opening.startMin">
                                <option ng-repeat="min in [] | range:60" value="{{min}}">{{min}}</option>
                            </select>-
                            <select ng-model="location.opening.endHour">
                                <option ng-repeat="hour in [] | range:24" value="{{hour}}">{{hour}}</option>
                            </select>
                            <select ng-model="location.opening.endMin">
                                <option ng-repeat="min in [] | range:60" value="{{min}}">{{min}}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><p>+ openingsuren toevoegen</p></td>
                    </tr>
                    <tr>
                        <td><h2><label>Straat + nummer:</label></h2></td>
                        <td>
                            <input ng-model="location.street" class="length3" /><input ng-model="location.number" class="length1" />
                        </td>
                    </tr>
                    <tr>
                        <td><h2><label>Postcode:</label></h2></td>
                        <td><input ng-model="location.postal_code" class="length4" /></td>
                    </tr>
                    <tr>
                        <td><h2><label>Woonplaats:</label></h2></td>
                        <td><input ng-model="location.city" class="length4" /></td>
                    </tr>
                    <tr>
                        <td><h2><label>Land:</label></h2></td>
                        <td>
                            <select ng-model="location.country" ng-options="c.country as c.country for c in countries | orderBy:country_code" class="length4"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><input ng-if="!editingLocation" type="button" id="savelocation" ng-click="addLocation();" onclick="hideForm(event);" value="Locatie opslaan" /></td>
												<td><input ng-if="editingLocation" type="button" id="savelocation" ng-click="editLocation();" onclick="hideForm(event);" value="Locatie opslaan" /></td>

		                </tr>
                </table>
            </form>
        </div>
        <div id="editeventpopup" class="popup">
            <form name="eventForm">
                <h1>Evenement aanmaken</h1>
                <table>
                    <tr>
                        <td width="130px"><h2><label>Naam:</label></h2></td>
                        <td><input ng-model="event.name"  class="length4" /></td>
                    </tr>
                    <tr>
                        <td><h2><label>Omschrijving:</label></h2></td>
                        <td><textarea ng-model="event.description"  class="length4" /></td>
                    </tr>
                </table>
                <div class="horizontal-line"></div>
                <table>
                    <tr>
                        <td width="130px"><h2><label>Openingsuren:</label></h2></td>
                        <td colspan="2">
                            <select ng-model="event.startHour">
                                <option ng-repeat="hour in [] | range:24" value="{{hour}}">{{hour}}</option>
                            </select>
                            <select ng-model="event.startMin">
                                <option ng-repeat="min in [] | range:60" value="{{min}}">{{min}}</option>
                            </select>-
                            <select ng-model="event.endHour">
                                <option ng-repeat="hour in [] | range:24" value="{{hour}}">{{hour}}</option>
                            </select>
                            <select ng-model="event.endMin">
                                <option ng-repeat="min in [] | range:60" value="{{min}}">{{min}}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label path="maxAttendees">Maximum aanwezigen:</label></td>
                        <td><input path="maxAttendees" class="input length4" /></td>
                    </tr>
                    <tr>
                        <td><label path="locationId">Locatie:</label></td>
                        <td>
                            <select ng-model="event.location" ng-options="name as name for l in locations | orderBy:name" class="length4"></select>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>
                            <input type="button" ng-click="addEvent();" onclick="hideForm(event);" value="Evenement bevestigen" class="input length4" />
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div id="popup">
            <h2 class="name">Evenementnaam</h2>
            <div id="line"></div>
            <p class="time">woensdag 8 mei 2013, 16.20u</p>
            <p class="location">Aquamotion<br />Kempische Steenweg 434<br />3500 Hasselt</p>
            <img class="profilepicture" src="./img/img_profilepicture.png" />
            <div class="left">
                <h3>Aanwezig:</h3>
                <ul>
                    <li><a class="profile">Nick Lauryssen</a></li>
                    <li><a class="profile">Ricardo Viana Pereira</a></li>
                    <li><a class="profile">5 anderen</a></li>
                </ul>
            </div>
            <div class="functions">
                <img alt="Personen toevoegen" src="./icons/ic_connections_small.png" />
                <a href="event"><img alt="Aanpassen" src="./icons/ic_edit_small.png" /></a>
                <img alt="Leegmaken" src="./icons/ic_bin_small.png" />
                <a href="javascript:hidePopups();" ><img alt="Verwijderen" src="./icons/ic_close_small.png" /></a>
            </div>
        </div>
	</div>
	<div id="loading">
		<img class="loader" alt="Loading content" src="./img/loader2.gif" />
	</div>
</div>
