<link href="./css/layout_banner.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="./css/layout_main.css" rel="stylesheet" type="text/css" media="screen" />
<link href="./css/layout_profile.css" rel="stylesheet" type="text/css" media="screen" />
<link href="./css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" media="screen" />

<script src="./js/person.js" type="text/javascript"></script>
<script>
    $(function() {
        $( ".datepicker" ).datepicker({
            format: "dd/mm/yyyy",
            defaultViewDate: { year: 1990, month: 01, day: 01 },
            startView: 2,
            autoclose: true
        });
    });
</script>
<div id="profile">
	<div id="content">
		<div id="tabs">
			<ul>
				<li>
					<p class="active tab" id="overview">Overzicht</p>
				</li>
                <li>
                    <p class="inactive tab" id="administrator" ng-show="vm.canDoAdmin">Administrator</p>
                </li>
			</ul>
		</div>
		<div id="ruler"></div>
		<div id="sidemenu">
            <div ng-hide="vm.editorEnabled">
                <img class="profilepicture" alt="profile picture" src="https://feedid.com/backend/images/{{user.picture}}" />
                <h1>{{user.firstname}}&nbsp;{{user.lastname}}</h1>
                <p class="link" ng-click="vm.enableEditor()" ng-show="vm.editBtn">Profiel bewerken</p>
                <div class="hr"></div>
                <h2>Informatie</h2>
                <p>Geslacht: {{user.sex}}</p>
                <p>{{user.dateofbirth}}</p>
                <div class="hr"></div>
                <h2>Adres</h2>
                <p>
                    {{user.street}}&nbsp;{{user.number}}<br />
                    {{user.postal_code}}&nbsp;{{user.city }}<br />
                    {{user.country}}
                </p>
                <div class="hr"></div>
                <h2>E-mailadres</h2>
                <p>{{user.email}}</p>
                <h2>Gsm-nummer</h2>
                <p>{{user.mobile}}</p>
                <button ng-show="vm.releaseBtn" ng-click="vm.sendConfirmEmail()">Stuur bevestigingsmail</button>
            </div>
            <div id="editor" ng-show="vm.editorEnabled" flow-init="{target:'https://feedid.com/backend/images/upload', singleFile:true, testChunks:false}">
                <div ng-controller="UploadCtrl">
                    <div class="thumbnail" ng-show="!$flow.files.length">
                        <img class="profilepicture" src="https://feedid.com/backend/images/{{editUser.picture}}" />
                    </div>
                    <div class="progress" ng-show="$flow.isUploading()">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                            <span class="sr-only">Uploading..</span>
                        </div>
                    </div><br />
                    <div class="thumbnail" ng-show="$flow.files.length">
                        <img class="profilepicture" flow-img="$flow.files[0]" />
                    </div>
                    <br />
                    <span class="btn up btn-primary ng-hide" ng-show="!$flow.files.length" flow-btn="">
                        Profielfoto instellen<input style="visibility: hidden; position: absolute;" type="file">
                    </span>
                    <span class="btn up btn-primary ng-hide" ng-show="$flow.files.length" flow-btn="">
                        Wijzig<input style="visibility: hidden; position: absolute;" type="file">
                    </span>
                    <span class="btn up btn-primary ng-hide" ng-show="$flow.files.length" ng-click="$flow.upload()">
                        Upload
                    </span>
                </div>
                <br />
                <table>
                    <tr>
                        <td><label class="control-label">Voornaam</label></td>
                        <td><input type="text" placeholder="Voornaam" ng-model="editUser.firstname" class="length4" /></td>
                    </tr>
                    <tr>
                        <td><label class="control-label">Achternaam</label></td>
                        <td><input type="text" placeholder="Achternaam" ng-model="editUser.lastname" class="length4" /></td>
                    </tr>
                    <tr>
                        <td><label class="control-label">E-mail</label></td>
                        <td><input type="text" placeholder="E-mail" ng-model="editUser.email" class="length4" /></td>
                    </tr>
                    <tr>
                        <td><label class="control-label">Geslacht</label></td>
                        <td><select ng-model="editUser.sex" ng-options="sex for sex in ['Man','Vrouw']"class="length4" ></select></td>
                    </tr>
                    <tr>
                        <td><label class="control-label">Geboortedatum</label></td>
                        <td><input type="text" ng-model="editUser.dateofbirth" class="datepicker length4"  /></td>
                    </tr>
                    <tr>
                        <td><label class="control-label">Straat + huisnummer</label></td>
                        <td><input type="text" placeholder="Straat" ng-model="editUser.street" class="length3" />
                            <input type="text" placeholder="Huisnummer" ng-model="editUser.number" class="length1" /></td>
                    </tr>
                    <tr>
                        <td><label class="control-label">Woonplaats</label></td>
                        <td><input type="text" placeholder="Woonplaats" ng-model="editUser.city" class="length4" /></td>
                    </tr>
                    <tr>
                        <td><label class="control-label">Postcode</label></td>
                        <td><input type="text" placeholder="Postcode" ng-model="editUser.postal_code" class="length4" /></td>
                    </tr>
                    <tr>
                        <td><label class="control-label">Land</label></td>
                        <td><select ng-model="editUser.country" ng-options="c.country as c.country for c in countries | orderBy:country_code" class="length4" ></select></td>
                    </tr>
                    <tr>
                        <td><label class="control-label">Mobiel</label></td>
                        <td><input type="text" placeholder="Mobiel" ng-model="editUser.mobile" class="length4" /></td>
                    </tr>
                    <tr>
                        <td><button ng-click="save()">Save</button></td>
                        <td><button ng-click="disableEditor()">cancel</button></td>
                    </tr>
                </table>
            </div>
		</div>
		<div id="content-page" fi-panel></div>
	</div>
</div>
