<ul>
	<li>
		<p class="tab" ui-sref-active="active" ui-sref="profile.overview" id="overview" ng-click="vm.selectedTab = 1;" ng-init="vm.navigate();">Overzicht</p>
	</li>
	<li>
		<p class="tab" ui-sref-active="active" ui-sref="profile.admin" id="administrator" ng-show="vm.showAdmin" ng-click="vm.selectedTab = 2;">Administrator</p>
	</li>
	<li>
		<p class="tab" ui-sref-active="active" ui-sref="profile.medic" id="medic-card" ng-show="vm.selectedTab = 3;" ng-click="vm.selectedTab = 3;">Medische Fiche</p>
	</li>
</ul>
